<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "MAP_MODE" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Text Content -->
  <div class="ion-padding">
    <h1>
      {{ "MAP_MODE_WELCOME" | translate }}
    </h1>
    <p>{{ "MAP_P_TAG" | translate }}</p>
  
  </div>

  <!-- Spinner Overlay -->
  <div *ngIf="showSpinner" class="spinner-overlay">
    <ion-spinner name="circles"></ion-spinner>
  </div>

  <!-- Map Container -->
  <div id="map" style="height: 60vh; position: relative;"></div>
</ion-content>
